.App {
  text-align: center;
  color: white;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #3F3F3F;
}

.navLink {
  padding: 0px 20px;
  transition: 0.2s;
  text-decoration: none;
}

.navLink:hover {
  background-color: white;
  color: #3F3F3F;
}

.navLink h3 {
  line-height: 5px;
}

#loginLink {
  margin-left: auto;
}

.logout {
  margin-left: auto;
  height: auto;
  background-color: transparent;
  color: white;
  border: none;
  font-size: large;
  font-weight: bold;
}

.logout:hover {
  background-color: white;
  color: #3F3F3F;
}

#fileButton {
  color: white;
  padding: 10px 0px 10px 70px;
}

.standardRedButton{
	background-color: transparent;
    color: white;
    border: 2px solid #FF5656;
	border-radius: 25px;
	margin: 11px;
    transition: .2s;
	padding: 10px 25px;
	font-size: 15px;
}

.standardRedButton:hover {
    background-color: #FF5656;
    color: white;
    border: 2px solid #FF5656;
    border-radius: 25px;
}

.standardButton{
	background-color: transparent;
    color: white;
    border: 2px solid #01CDC4;
	border-radius: 25px;
	margin: 7px;
    transition: .2s;
	padding: 10px 15px;
  font-size: 15px;
  min-width: 7em;
}

.standardButton:hover {
    background-color: #01CDC4;
    color: white;
    border: 2px solid #01CDC4;
    border-radius: 25px;
}

.standardPurpleButton{
	background-color: transparent;
    color: white;
    border: 2px solid #BB86FC;
	border-radius: 25px;
	margin: 7px;
    transition: .2s;
	padding: 10px 15px;
  font-size: 15px;
  min-width: 7em;
}

.standardPurpleButton:hover {
    background-color: #BB86FC;
    color: white;
    border: 2px solid #BB86FC;
    border-radius: 25px;
}
::-webkit-input-placeholder { /* Chrome */
  opacity: .5 !important;
}
:-ms-input-placeholder { /* IE 10+ */
  opacity: .5 !important;
}
::-moz-placeholder { /* Firefox 19+ */
  opacity: .5 !important;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  opacity: .5 !important;
}

.packNameList {
  font-size: 20px;
  padding-right: 20px;
  text-align: left;
}

.callContainer {
  display: grid;
  grid-template-columns: auto auto auto;
}

.callCard {
  display: grid;
}

.call {
  margin: auto;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.modal-main {
  position:fixed;
  text-align: center;
  background: #292929;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border: 2px solid #01CDC4;
  border-radius: 25px;
  padding: 20px;
}

.callSelector {
  width: 30%;
  display: grid;
  grid-template-columns: 85% 15%;
}

.addCallButton {
  margin: auto 0;
}

.lessonPackView {
  display: grid;
  grid-template-columns: 25% 75%;
  background-color: #131313;
  min-height: 80vh;
  padding-left: 10px;
}

.lessonView {
  color: white;
  border-left: 2.5px #3F3F3F solid;
  padding-left: 13px;
}

.packName {
  font-size: 30px;
  margin: 8px 5px 4px 20px
}

.lessonCreation {
  text-align: left;
}

.packButtons {
  margin-left: 10px;
  margin-bottom: 12px;
}

.lessonPairButton{
	background-color: #3F3F3F;
  color: white;
  text-align: left;
  border: 0px solid #01CDC4;
  border-bottom: 1px solid black;
	margin: 0px;
  transition: .2s;
	padding: 10px 15px;
  font-size: 18px;
  min-width: 100%;
  
}

.highlightedPair {
  background-color: white;
  color: black;
}

.lessonPairButton:hover {
  background-color: #01CDC4;
  color: white;
  border: 0px solid #01CDC4;
  border-bottom: 1px solid black;
}

.lessonPackListView {
  margin-top: 0;
}

.inputText {
  background-color: transparent;
  color: white;
  border: 2px solid #BB86FC;
  border-radius: 25px;
  margin: 7px;
  transition: .2s;
  padding: 10px 15px;
  font-size: 15px;
  max-width: 10em;
}

.videoButton {
  background-color: transparent;
  color: white;
  border: 2px solid #01CDC4;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: .2s;
  font-size: 15px;
  width: 100%;
  height: 3em;
}

.videoButton:hover {
  background-color: #01CDC4;
  color: white;
}