.linkContainer{
    display: grid;
    grid-template-columns: auto auto;
  }
  
  .linkChoice {
    text-align: center;
    width: 20em;
    min-height: 20em;
    border: #bb86fc solid 4px;
    border-radius: 25px;
    margin: 0 auto;
    vertical-align: middle;
    transition: 0.2s;
  }
  
  .linkChoice:hover{
    background-color: #bb86fc;
  }