.hide {
    display: none;
}

.loginContainer {
    display: grid;
    grid-template-columns: 30%;
    justify-content: center;
}

#txtEmail {
    background-color: #3F3F3F;
    margin-bottom: .5em;
    height: 2em;
    color: white;
    border: 2px solid #292929;;
    border-radius: 10px;
    padding-left: 10px;
}

#txtPassword {
    background-color: #3F3F3F;
    margin-bottom: 2em;
    height: 2em;
    color: white;
    border: 2px solid #292929;;
    border-radius: 10px;
    padding-left: 10px;
}

#btnLogin {
    background-color: transparent;
    color: white;
    border: 2px solid #01CDC4;
    border-radius: 25px;
    transition: .2s;
    width: 35%;
    margin: 0 auto;
    height: 2em;
}

#btnLogin:hover {
    background-color: #01CDC4;
    color: white;
    border: 2px solid #01CDC4;
    border-radius: 25px;
}