.display-block {
    display: block;
}

.display-none {
    display: none;
}

.videoModal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.videoModal-main {
    position:fixed;
    text-align: center;
    background: #292929;
    width: 80%;
    max-height: 80vh;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border: 2px solid #01CDC4;
    border-radius: 25px;
    padding: 20px;
    overflow-y: scroll;
}

.heading {
    font-family: Arial;
    width:100%;
    text-align: center;
}
  