.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.linkContainer{
  display: grid;
  grid-template-columns: auto auto;
}

.linkChoice {
  text-align: center;
  width: 20em;
  min-height: 20em;
  border: #bb86fc solid 4px;
  border-radius: 25px;
  margin: 0 auto;
  vertical-align: middle;
  transition: 0.2s;
}

.linkChoice:hover{
  background-color: #bb86fc;
}